{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}Received messages list{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <ul>
                {% for m in mrs %}
                    <li>
                        <a href="{% url 'message_detail' m.pk %}">{{m}}</a>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'message_view' %}" class='btn btn-success'>Messages management</a>
            <a href="{{request.META.HTTP_REFERER}}" class='btn btn-success'>Go back</a>
        </div>
    {% endblock content %}
</body>
</html>