{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}{{course.name}}{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <p>This is {{course.name}}'s page</p>
            <div>
                <ul>
                    <li><a href="{% url 'sv_article_list' course.pk %}">List of articles</a></li>
                    <li><a href="{% url "sv_present_day" course.pk %}">Course days</a>
                    <li><a href="{% url "sv_test_list" course.pk %}">Exams</a>
                    <li><a href="{% url "sv_file_list" course.pk %}">Files</a>
                </ul>
                <a href="{% url "home_page" %}" class='btn btn-success'>Main page</a>
            </div>
        </div>
    {% endblock content %}
</body>
</html>