{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}Tests list{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <ul>
                {% for t in course.test_to_course.all %}
                    <li>
                        <a href="{% url 'sv_test_detail' t.pk %}">{{t}}</a>
                    </li></br>
                {% endfor %}
            </ul>
                <a href="{% url "sv_course_detail" course.pk %}" class='btn btn-success'>{{course.name}}'s page</a>
                <a href="{% url "sv_course_list" %}" class='btn btn-success'>List of courses</a>
                <a href="{{request.META.HTTP_REFERER}}" class='btn btn-success'>Go back</a>
            
        </div>
    {% endblock content %}
</body>
</html>