{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}List of articles{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <div>
                <p>Articles:</p>
                <p></p>
            </div>
            <ul>
                {% for a in course.article_to_course.all %}
                    <li>
                        <a href="{% url "article_detail" a.pk %}"> {{a.title}} written by ({{a.author.first_name}} {{a.author.last_name}})  in ({{a.date_creation}}) for {{a.course}} course</a>
                            {% if a.author == request.user %}
                                | (<a href="{% url 'article_update' a.pk %}?next={{ request.path }}">update</a>|<a href="{% url 'article_delete' a.pk %}?next={{ request.path }}">delete</a>)</a>
                            {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url "course_detail" course.pk %}" class='btn btn-success'>{{course.name}}'s page</a>
            <a href="{% url "courses_list" %}" class='btn btn-success'>List of courses</a>
            <a href="{{request.META.HTTP_REFERER}}" class='btn btn-success'>Go back</a>
        </div>
    {% endblock content %}
</body>
</html>