{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}List of courses{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <div>
                <p>Dear teacher go to your course by clicking on it:</p>
            </div>
            <ul>
                {% for course in courses %} 
                    <li>
                        <a href="{% url "course_detail" course.pk %}">{{course}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock content %}
</body>
</html>