{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}{{course.name}}{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <p>This is {{course.name}}'s page</p>
            <div>
                <ul>
                    <li><a href="{% url "article_create" %}?next={{ request.path }}">Create an article</a></li>
                    <li><a href="{% url "article_list" course.pk%}">List of articles</a></li>
                    <li><a href="{% url "course_date_list" course.pk%}">Course days</a></li>
                    <li><a href="{% url 'file_view' course.pk %}">Files</a></li>
                    <li><a href="{% url 'student_list_view' course.pk %}">List of students</a></li>
                    <li><a href="{% url 'student_list' course.pk %}">Get list of student as pdf</a></li>
                    <li><a href="{% url 'test_view' course.pk %}">Exams</a></li>
                </ul>
            </div>
            <a href="{% url "courses_list" %}" class='btn btn-success'>List of courses</a>
            <a href="{{request.META.HTTP_REFERER}}" class='btn btn-success'>Go back</a>
        </div>
    {% endblock content %}
</body>
</html>