{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}List of students{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <div>
                <p>Students:</p>
                <p></p>
            </div>
            <ol>
                {% for student in daydate.present_state.all %}
                    <li>
                        <a> {{student}}</a> | 
                        {% if daydate.owner == request.user %}
                            (<a href="{% url 'present_update' student.pk %}?next={{ request.path }}">Edit</a>)
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            <a href="{% url "courses_list" %}" class='btn btn-success'>List of courses</a>
            <a href="{{request.META.HTTP_REFERER}}" class='btn btn-success'>Go back</a>
        </div>
    {% endblock content %}
</body>
</html>