{% extends "_base.html" %}

<html>
<head>
    <title>
        {% block title %}Files list{% endblock title %}
    </title>
</head>

<body>
    {% block content %}
        <div class='container'>
            <ul>
                {% for f in course.files_to_course.all %}
                    <li>
                        <a href="{{ f.file.url }}">{{f}}</a> | 
                            {% if f.owner == request.user %}
                                (<a href="{% url 'file_update' f.pk %}?next={{ request.path }}">Edit</a>|<a href="{% url 'file_delete' f.pk %}">Delete</a>)
                            {% endif %}
                    </li>
                {% endfor %}
                <a href="{% url "course_detail" course.pk %}" class='btn btn-success'>{{course.name}}'s page</a>
                <a href="{% url "courses_list" %}" class='btn btn-success'>List of courses</a>
                <a href="{{request.META.HTTP_REFERER}}" class='btn btn-success'>Go back</a>
            </ul>
        </div>
    {% endblock content %}
</body>
</html>