{% extends "_base.html" %}

<html>
    <head>
        {% block title %}Tests management{% endblock %}
    </head>
    <body>
        {% block content %}
            <div class='container'>
                <ul>
                    <li><a href="{% url 'test_list' course.pk%}">List of tests</a></li>
                </ul>
                <a href="{% url "course_detail" course.pk %}" class='btn btn-success'>Go to {{course.name}} page</a>
                <a href="{% url "courses_list" %}" class='btn btn-success'>Go to courses list</a>
                <a href="{{request.META.HTTP_REFERER}}" class='btn btn-success'>Go back</a>
            </div>
        {% endblock content %}
    </body>
</html>