<html>
<head>
    <meta charset="utf-8">
    <title> {% block title %}Teacher Points{% endblock title %} </title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="{% url 'home' %}">خانه</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'about' %}">درباره ما</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">خروج از حساب کاربری</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% else %}
                <a href="{% url 'account_login' %}">وارد شوید</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{% url 'account_signup' %}">ایجاد حساب کاربری</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
        </nav>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>