{% extends "_base.html" %}

<html>

<head>
    {% block title %}Home{% endblock %}
</head>

<body>
    {% block content %}
        <div class='container'>
            {% if user.is_authenticated %}
            {% else %}
                <p>&nbsp; &nbsp; This is a simple course management web application. Please login to see what it can do.</p>
            {% endif %}
        </div>
        <div class='container'>
            {% for u in user.person_to_user.all %}
                {% if user.is_authenticated and u.role == 10 %}
                        <p>Go to List of <a href="{% url "courses_list" %}">courses</a></p>
                        <div>
                            <p>Message section:</p>
                            <a href="{% url 'message_view' %}">Messenger</a>
                        </div>
                {% elif user.is_authenticated and u.role == 1 %}
                        <p>Hi {{user.first_name}} {{user.last_name}}, Go to your 
                            <a href="{% url 'home_page' %}">courses</a></p>  
                {% endif %}
            {% endfor %}
        </div>
    {% endblock content %}
</body>

</html>